@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=Noto+Sans:700,600");
@font-face {
  font-family: "ProximaNova-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/.139.otf") format("opentype");
}
.screen a {
  text-decoration: none;
}

.container-center-horizontal {
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}
